oxygen-sdk-workspace/sdkExtensions/oxygen-gim-extensions/doc/
runtime-New_configuration/.metadata/
oxygen-sdk-workspace/sdkExtensions/oxygen-gim-extensions/samples/
runtime-New_configuration/
oxygen-sdk-workspace/.metadata/
oxygen-sdk-workspace/RemoteSystemsTempFiles/
out/
temp/
styleguide/
